<div class="flex-container">
    <div>
        <div class="menuitem container">
            <div class="row">
                <div class="nameanddescription col">
                    <h4 class="itemname">Sandwhich</h4>
                    <p class="itemdescription">With avocado, spinach, tomatoes and Swiss, seasoned with salt & pepper and olive oil vinaigrette, served on wholesome 9-Grain</p>
                    <a href="https://usdzshare.com/?ug-gallery=photo-detail&photo_id=1101">View in AR</a>
                </div>
                <div>
                    <p class="price col itemprice">Price: $5.00</p>
                </div>
            </div>

        </div>
    </div>

    <div>
        <div class="menuitem container">
            <div class="row">
                <div class="nameanddescription col">
                    <h4 class="itemname">Pizza</h4>
                    <p class="itemdescription">Choose from one of our famous pizzas from the menu or try your hand at building your own. Select from a list of fresh ingredients and enjoy a perfectly prepared pizza with your own custom twist!</p>
                    <a href="https://usdzshare.com/?ug-gallery=photo-detail&photo_id=1815">View in AR</a>
                </div>
                <div>
                    <p class="price col itemprice">Price: $8.00</p>
                </div>
            </div>

        </div>
    </div>

    <div>
        <div class="menuitem container">
            <div class="row">
                <div class="nameanddescription col">
                    <h4 class="itemname">Pita and hummus</h4>
                    <p class="itemdescription">Hummus is a popular dip in Egypt where it is eaten with pita, and frequently flavored with cumin or other spices. For Palestinians and Jordanians, hummus has long been a staple food, often served warm, with bread for breakfast, lunch
                        or dinner.</p>
                    <a href="https://usdzshare.com/?ug-gallery=photo-detail&photo_id=1731">View in AR</a>
                </div>
                <div>
                    <p class="price col itemprice">Price: $4.00</p>
                </div>
            </div>

        </div>
    </div>

    <div>
        <div class="menuitem container">
            <div class="row">
                <div class="nameanddescription col">
                    <h4 class="itemname">Creme brulee</h4>
                    <p class="itemdescription">also known as burnt cream or Trinity cream, is a dessert consisting of a rich custard base topped with a texturally contrasting layer of hardened caramelized sugar.</p>
                    <a href="https://usdzshare.com/?ug-gallery=photo-detail&photo_id=1325">View in AR</a>
                </div>
                <div>
                    <p class="price col itemprice">Price: $2.00</p>
                </div>
            </div>

        </div>
    </div>


</div>