<h2 class="sectiontitle">Follow us</h2>

<img src="../../assets/images/1.jpg">
<div class="flex-container">
    <a href="https://www.facebook.com/lucas.moyer.3" class="socialmedia">
        Facebook
        <i class="fab fa-facebook"></i>
    </a>
    <br>
    <a href="https://www.instagram.com/lucasdmoyer/"class="socialmedia">
        Instagram
        <i class="fab fa-instagram"></i>
    </a>
    <br>
    <a href="https://twitter.com/luketbone?lang=en"class="socialmedia">
        Twitter
        <i class="fab fa-twitter"></i>
    </a>
    <br>
    <a href="https://www.yelp.com/user_details?userid=e0hi8f9G8PEJHW_lENgYiA" class="socialmedia">
        Yelp
        <i class="fab fa-yelp"></i>
    </a>
    <br>
</div>


