.socialmedia {
    font-family: "Times New Roman", Times, serif;
    font-size: 10vw; 
    background-color: #FCD7AD;
    min-height: 100px;
    width: 95%;
    margin: 10px;
    padding: 12px;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .socialmedia {
        font-family: "Times New Roman", Times, serif;
        font-size: 50px; 
        background-color: #FCD7AD;
        min-height: 100px;
        width: 100%;
        margin: 10px;
        padding: 12px;
    
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
}