p {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 5vw;
    padding: 12px;
    background-color: #F26968;
}
img {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom: 20px;
    border-radius: 25px;
}
@media screen and (min-width: 500px) {
    p {
        font-size: 25px;
        padding: 50px;
    }
}