<h2 class="sectiontitle">About us</h2>
<img src="../../assets/images/2.jpg">
<p class="aboutus">
    Celebrating 20 years in business.
    Italian tradition and innovative design merge
    in modern comfort, with a menu that offers
    an extensive selection of seasonal antipasti's,
    house made pastas, grilled meat and seafood,
    wood fired Neapolitan pizzas, 200 notable wine labels,
    and varietals from around the world, a lively bar offering
    late night dining, specialty cocktails and
    a broad selection of Italian grappas.
</p>
