p {
    font-family: "Times New Roman", Times, serif;
    font-size: 5vw;
    padding: 12px;
    background-color: #FCD7AD;
}

@media screen and (min-width: 500px) {
    p {
        font-family: "Times New Roman", Times, serif;
        font-size: 25px;
        padding: 50px;
        background-color: #FCD7AD;
    }
}