


<h2 class="sectiontitle">Menu</h2>

<mat-form-field>
    <mat-select placeholder="Filter menu" [(ngModel)]="selectedType" name="food" (selectionChange)="search(selectedType)">
      <mat-option *ngFor="let food of foods" [value]="food">
        {{food}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div class="flex-container">
  <div *ngFor="let item of menu | myfilter:selectedType">
      <div class="menuitem row">
          <div class="nameanddescription col-md-8">
              <h4 class="itemname">{{item.name}}</h4>
              <p class="itemdescription">{{item.description}}</p>
          </div> 
          <div>
            <p class="price col-md-4 itemprice">Price: {{item.price}}</p>
          </div>
      </div> 
    </div>
      
</div>
