
.menuitem {
    background-color: blanchedalmond;
    min-height: 100px;
    width: 95%;
    margin: 10px;
    padding: 12px;
}

.nameanddescription {
    width: 80%;
}
.price {
    float: right;
    width: 20%;
    font-family: "Times New Roman", Times, serif;
    font-size: 3vw;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.itemname {
    font-family: "Times New Roman", Times, serif;
    font-size: 5vw;
    text-decoration: underline;
}

.itemdescription {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 4vw;
}

mat-form-field {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 4vw;
    padding: 12px;
}
