<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/">Rick's Cafe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" (click)="collapse()">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/photos">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/orderpickup">Order up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactus">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/followus">Follow us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ar">Augmented Reality menu!</a>
            </li>
        </ul>
    </div>
</nav>

<!--{{ message | async | json }}-->
<div>
    <div routerLink="/">
        <h1>
            {{ title }}
        </h1>
    </div>

</div>
<router-outlet></router-outlet>