
h1 {
    font-family: 'Inconsolata', monospace;
    font-style: italic;
    font-size: 18vw;
    color: #99EDCC;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #E36588;
    display:none;
}

p {
    font-family: 'Inconsolata', monospace;
    font-size: 5vw;
}


.notification {
    font-family: 'Inconsolata', monospace;
    font-style: italic;
    font-size: 4vw;
    color: #5296A5;
    width: 100%;
    background-color:#F6C28B;
}

nav {
    color: #323339;
    background-color: #F2AD9F;
}


@media screen and (min-width: 500px) {
    h1 {
        font-style: italic;
        font-size: 90px;
        text-align: center;
        
    }

}

