.contact {
    background-color: #F26968;
    color: white;
}

p, address {
    font-family: 'Inconsolata', monospace;
    font-size: 5vw;
    padding: 12px;
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}


th {
    text-align: right;
    font-family: 'Inconsolata', monospace;
    font-size: 5vw;
    padding: 10px;
    
  }

tr {

    font-family: 'Inconsolata', monospace;
    width: 100%;
    padding: 10px;
    font-size: 5vw;
}

.hours {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .contactcontainer {
        width:100%;
    }

    .contact {
        margin: auto;
        margin-bottom: 20px;
        width: 51%;
        border-radius: 25px;
    }
    p, address {
        font-size: 25px;
        padding: 12px;
        
    }
    
    
    th {
        font-size: 25px;

        padding: 10px;

        
      }
    
    tr {
        width: 100%;
        padding: 10px;
        font-size: 25px;
    }
    
    .hours {
        width: 100%;
    }
    
}