<h2 class="sectiontitle">Contact us</h2>

<p>
  Please call us at:
  <a href="tel:+14252832729">425-283-2729</a>
</p>

<address> We are located at: <a href="https://www.google.com/maps/place/Mamma+Melina+Ristorante+%26+Pizzeria/@47.6664181,-122.3008103,15z/data=!4m5!3m4!1s0x0:0x7ec7dc75a6de64ad!8m2!3d47.6664181!4d-122.3008103">5101 25th Ave NE, Seattle, WA 98105</a></address>

<div class="hours">
  <table>
      <tr><th>Sunday</th><td>Closed</td></tr>
      <tr><th>Monday</th><td>9am - 5pm</td></tr>
      <tr><th>Tuesday</th><td>9am - 5pm</td></tr>
      <tr><th>Wednesday</th><td>9am - 5pm</td></tr>
      <tr><th>Thursday</th><td>9am - 5pm</td></tr>
      </table>
          

</div>

