@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
.sectiontitle {
    font-family: "Times New Roman", Times, serif;
    font-size: 9vw;
    padding: 15px;
    font-style: italic;
}

@media screen and (min-width: 500px) {
    .sectiontitle {
        font-family: "Times New Roman", Times, serif;
        font-size: 90px;
        padding: 15px;
        font-style: italic;
    }
}


html, body {
    background-color: #A57548;
}