@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
.sectiontitle {
    font-family: 'Inconsolata', monospace;
    font-size: 9vw;
    padding: 15px;
    font-style: italic;
}

@media screen and (min-width: 500px) {
    .sectiontitle {
        font-size: 90px;
    }
}


html, body {
    background-color: #9AC4F8;
    background-image: url(./assets/images/icecreambackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
}

.bottominfo {
    background-color:#F2AD9F;
    width: 100%;
    color: #323339;
    font-size: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

