
<div class="description">
  <p>
      Please visit our beautiful outdoor patio at our new location at 5101 25th Ave NE ,
      near the University Village at the corner of 25th Ave NE and Blakely
  </p>
</div>

<div class="homeimages flex-container">
  <img src="../../assets/images/1.jpg">
  <img src="../../assets/images/2.jpg"> 
  <img src="../../assets/images/3.jpg">  
</div>
  

<div class="flex-container">
  <div class="option" routerLink="/menu">Menu</div>
  <div class="option" routerLink='/photos'>Photos</div>
  <div class="option" routerLink='/aboutus'>About Us</div>
  <div class="option" routerLink='/orderpickup'>Order Pick Up</div>
  <div class="option" routerLink='/contactus'>Contact Us</div>
  <div class="option" routerLink='/followus'>Follow Us</div>
</div>

