
<div class="description">
  <p>
      Please visit our beautiful outdoor patio at our new location at 5101 25th Ave NE ,
      near the University Village at the corner of 25th Ave NE and Blakely
  </p>
</div>

<div class="homeimages flex-container">
  <img src="../../assets/images/1.jpg">
  <img src="../../assets/images/2.jpg"> 
  <img src="../../assets/images/3.jpg">  
</div>
  

<div class="flex-container">
  <div class="option" routerLink="/menu">
    Menu
    <br>
    <i class="fas fa-align-justify"></i>
  </div>
  <div class="option" routerLink='/photos'>
    Photos
    <br>
    <i class="fas fa-images"></i>
  </div>
  <div class="option" routerLink='/aboutus'>
    About Us
    <br>
    <i class="fas fa-address-card"></i>
  </div>
  <div class="option" routerLink='/orderpickup'>
    Order Up
    <br>
    <i class="fas fa-car"></i>
  </div>
  <div class="option" routerLink='/contactus'>
    Hours Map
    <br>
    <i class="fas fa-clock"></i>
  </div>
  <div class="option" routerLink='/followus'>
    Follow Us
    <br>
    <i class="fab fa-facebook"></i>
  </div>
</div>
